.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todoapp {
  margin: 20px;
  display: inline-block;
  text-align: left;
}

.todolist {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

input[type=checkbox] {
  margin-right: .75em;
}

.error {
  border: 1px solid #982424;
  color: #982424;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #f6bfbf;
}
